.content {
    position:relative;
}


.nav {
    position:fixed;
    top:70px;
    left:0;
}

.nav-ul {
    list-style-type:none;
}

.body {
    position:absolute;
    top:50px;
    left:150px;
}

.footer {
    position:absolute;
    bottom:0px;
}


/*Gallery*/

.large-img {
   float:left;
   width:25%;
   height:25%;
}