.content {
    position:relative;
    height:500px;
}




.nav {
    position:absolute;
    top:70px;
    left:0;
}

.nav-ul {
    list-style-type:none;
}

.body {
    position:absolute;
    top:50px;
    right:0;
}

.footer {
    position:absolute;
    bottom:0px;
}