<div class="jumbotron">
    <div class="container">
        <div>
            <h2>Gallery</h2>
            <img class="large-img thumbnail" src="~/images/space1.jpg" />
            <img class="large-img thumbnail" src="~/images/space2.jpg" />
            <img class="large-img thumbnail" src="~/images/sapce3.jpg" />
        </div>
    </div>
</div>