@{
    ViewData["Title"] = "Login Page";
}

<div class="container">
    <div class="jumbotron">
        <h1>Login page</h1>
        <form action="/SOMECONTROLLER">
            User name: <input type="text" id="UserName" class="form-control" name="UserName">
            Password: <input type="password" id="pwInput" class="form-control" name="password"><br>
            <button type="button" id="submitLogin" class="btn btn-lg btn-default" value="Submit">Submit</button>
        </form>
    </div>
</div>

