
<div class="container">
    <div class="jumbotron">
        <h1>Sign up page</h1>
        <form action="">
            User name: <input type="text" id="UserName" class="form-control" name="UserName">
            Email: <input type="text" id="Email" class="form-control" name="Email" />
            Password: <input type="password" id="pwInput" class="form-control" name="Password">
            Confirm password: <input type="password" id="pwInput-confirm" class="form-control" name="Password-confirm" /> <br />
            <button type="button" id="signUp" class="btn btn-lg btn-default" value="Submit">Submit</button>
        </form>
        <h2 id="tellUser" typeof="text" style="color:red"></h2>

    </div>
</div>

@section scripts {
    <script src="~/js/pwChecker.js"></script>
}